.{
	padding: 0; margin: 0; box-sizing: border-box: 0;
}
#home{
	background: url("img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
.navbar-brand{
	font-family: 'Ma Shan Zheng', cursive;
	padding: 20px;

}

#shade{
	color:#FFCC00;
}
#shade2{
	color:#FFCC00;
}

.navbar-nav a:hover{
	background:#FFCC00;
	transition: 0.4;
}
.text{
	font-family:'Ma Shan Zheng', cursive; 
	font-size: 3rem;
	text-align: right;
	color:black;
	padding:300px 200px 200px 200px;
}
.text h1{
	font-size:5rem;
	text-align:right;
}


.button{
	font-family:'Ma Shan Zheng', cursive;;
	text-align:right;
}

#page2{
  text-align: center; 
  padding: 150px 150px 150px 150px;
  
}
#page2 h1{
	padding-top:20px;
	padding-bottom: 50px;
  color:#FF4F63;
  font-family:'Ma Shan Zheng', cursive;
  font-size: 3rem ;
}
#form{
  text-align: center;
  padding: 10px 50px 50px 50px;
}
#form h1{
  padding-top:20px;
  color:#FF4F63;
  font-family:'Ma Shan Zheng', cursive;
  font-size: 3rem;
}

#form form input{
  width:40%;
  padding: 10px;
  margin-bottom: 10px;
}
#form form textarea{
  width: 40%;
  padding: 10px;
}

.card{
	margin-top: 50px;
	flex-basis: 100%;
	margin: 0px 50px 0px 50px;
	box-shadow: 5px 6px 10px grey;
	transform: rotateX(60deg);
	transition: transform 1s;
}
.card:hover{
	transform: rotateX(0deg) translateZ(300px);
}
.footer{
	padding: 7% 15%;
	text-align: center;
	background:#FF4F63;
	color:black;
	padding:10px;
	

}
